@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f4eee0;
  color: #393646;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #635985;
}

@media (min-width: 800px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.markdown {
  padding: 4rem;
  display: grid;
  row-gap: 4rem;
}

.input {
  border-color: transparent;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  line-height: 2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  min-height: 30vh;
}

.input,
.result {
  padding: 1rem 2rem;
}

@media (min-width: 992px) {
  .markdown {
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

blockquote {
  font-size: 2rem;
  font-style: italic;
  border-left: 5px solid #6d5d6e;
  color: #6d5d6e;
  padding-left: 2rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}

blockquote ::first-letter {
  text-transform: uppercase;
}

pre {
  background: #393646;
  display: inline-block;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: yellow;
  margin-bottom: 1.5rem;
}
